<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.net>
    <mailSettings>
      <smtp from="thebooknook17@gmail.com" deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587" enableSsl="true"
             userName="thebooknook17@gmail.com" password="cs321group1" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms name="MyAppCookie"
         loginUrl="~/Login.aspx"
         timeout="30"
         path="/"
         defaultUrl="~/SecuredPages/User_Profile.aspx" >
      </forms>
    </authentication>
    <siteMap>
      <providers>
        <clear />
        <add name="AspNetXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web.sitemap" securityTrimmingEnabled="true"   />
      </providers>
    </siteMap>

    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider"
             type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             connectionStringName="ConnectionString2"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="6"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile defaultProvider="DefaultProfileProvider" automaticSaveEnabled="false" enabled="true">
      <providers>
        <add name="DefaultProfileProvider" 
             type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" 
             connectionStringName="ConnectionString2" 
             applicationName="/" />
      </providers>
        <properties>
          <add name="FirstName" type="System.String"/>
          <add name="LastName" type="System.String"/>
          <add name="DateOfBirth" type="System.DateTime"/>
          <add name="ProfilePic" type="System.Byte[]" />
          <add name="ProfilePicType" type="System.String"/>
          <add name="Favorite_Genre" type="System.String"/>
        </properties>
    </profile>

    <roleManager defaultProvider="DefaultRoleProvider" enabled="true">
      <providers>
        <add name="DefaultRoleProvider" 
             type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" 
             connectionStringName="ConnectionString2" 
             applicationName="/" />
      </providers>
    </roleManager>


    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" 
             type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" 
             connectionStringName="ConnectionString2" />
      </providers>
    </sessionState>

  </system.web>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionString2" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Membership.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <!--<add name="Memberships" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Memberships.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
 <!--<system.web>
   <customErrors defaultRedirect="404.aspx"
               mode="On">
     <error statusCode="500"
            redirect="404.aspx"/>
   </customErrors>
  </system.web>-->
  <system.web>
   <customErrors 
      mode="Off">
 
   </customErrors>
  </system.web>
  
  
</configuration>